.App {
  text-align: left;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 20% 25% 30% 25%;
  grid-template-rows: max-content;
  grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar footer footer footer';
}

* {
  box-sizing: border-box;
}

header {
  grid-area: header;
  height: 100px;
  background-color: #181818;
}

main {
  grid-area: main;
  padding: 0.5rem 1rem;
}

nav {
  grid-area: sidebar;
  background-color: #181818;
  color: #fff;

  a {
    color: #fff;
  }
}
footer {
  grid-area: footer;
  height: 50px;
}

nav {
  display: block;
}

main {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2.title {
  text-transform: capitalize;
}
